@import "~bootstrap/dist/css/bootstrap.min.css";
.pinta {
  font-size: 100px;
}
.value {
  text-align: center;
  display: inline-block;
  margin: auto;
  /* height: 200px; */
  font-size: 100px;
  width: 250px;
  padding: 20px;
  /* padding-top: 180px; */
  position: relative;
}
